# 脚本基础配置
AppPath: # 游戏路径，如需设置，使用"\\"而不是"\" ,留空为从注册表读取游戏运行目录，无法读取注册表，且此值为空时无法在崩溃时自动重启游戏。
ModelName: "yolo" # 默认无需设置，已实现自动匹配声骸模型
OcrInterval: 0 # OCR识别间隔时间
GameMonitorTime: 5 # 游戏窗口检测间隔时间
LogFilePath: # 日志保存路径，留空即为项目根目录，如需设置，则需为"c:\\mc_log.txt"格式，使用"\\"而不是"\"

# 游戏崩溃捕获及处理
RestartWutheringWaves: false # 定时重启游戏以避免游戏卡10%、75%等特殊进度及UE4崩溃，与DetectionUE4开启任一
RestartWutheringWavesTime: 7200 # 单位为秒，如7200秒且RestartWutheringWaves为True即两小时重启一次
DetectionUE4: True # 是否检测UE4崩溃窗口，推荐开启True 
UE4_POPUP: 30 # UE4崩溃窗口检测的间隔时间，默认30秒检测一次

# 控制台信息
EchoDebugMode: true #声骸锁定功能DEBUG显示输出的开关
EchoSynthesisDebugMode: true # 声骸合成锁定功能DEBUG显示输出的开关

# 自动战斗及声骸锁定配置
MaxFightTime: 120 # 单次战斗最大时间 超过时间会进行下一个目标
MaxIdleTime: 12 # 战斗完成后的空闲时间，不能小于5
MaxSearchEchoesTime: 18 # 战斗完成后搜索声骸的最大时间，与MaxIdleTime/2 取较大值
SelectRoleInterval: 2 # 选择角色的时间间隔 最小为2 避免无法选择角色
DungeonWeeklyBossLevel: 40 # 自己可以掉落的周本(副本)boss最低等级（当前索拉等级*10）
DungeonWeeklyBossWaitTime: 0 # (副本)boss进入以后额外等待时间
CharacterHeal: true #是否判断角色是否阵亡 若阵亡则返回神像复活，请确保背包里面至少有一个复活药剂
WaitUltAnimation: false # 是否判断并等待大招动画  （实验功能，目前4k屏，175%缩放，游戏分辨率1920*1080,测试有效，可能需要做适配，欢迎测试）
SearchEchoes: true # 是否搜索声骸
SearchDreamlessEchoes: true # 是否搜索无妄者声骸
EchoLock: false #是否启用声骸锁定功能
EchoMaxContinuousLockQuantity: 5 # 最大连续检测到已锁定声骸的数量，超过此数量就停止
EnhancedComputing: true # 是否启用声骇强化计算
ComputeRoleName: 今夕  # 声骇计算角色名称， 目前支持今夕，忌炎 不填则只计算正常权重分值
ComputeTactic: [0, 10, 36, 78] # 声骇每级计算策略 默认提供强化最优策略 [0, 10, 36, 78]可自行修改 第一位为5级声骇期望分值，第二位为10级，第三位为15级，第四位为20级 详细计算方法请参考 https://ngabbs.com/read.php?tid=40813747&_fu=62546171%2C1&rand=665

# 战斗策略
FightTactics: # 三个角色的释放技能顺序, 逗号分隔, e,q,r为技能, a为普攻(默认连点0.3秒), 数字为间隔时间,a~0.5为普攻按下0.5秒,a(0.5)为连续普攻0.5秒，摩托车短按请用q~0.1
    - "a,r,q,a(2),f,e,a(1),e,a(1),e,a(1),0.05,f,a~0.8"   # 卡卡罗
    - "a,r,q~0.1,a(2),f,e,0.05,a~0.7"   #安可
    - "a,f,e,f,q,f,r,f,s,0.2,a(1)"      #维里奈
    # - "q,a(0.8),e,0.2,a~0.7,s,0.15,a(1.5),r,0.2,e,f"   #  吟霖
FightTacticsUlt: # 大招释放成功时的技能释放顺序，此处只允许有二段r的角色放r，否则可能会有少许延迟
    - "a(1.6),e,a(1.6),a(1.6),a(1.6),f"   # 卡卡罗
    - "a(2),e,a(2),e,a(2),e,0.05,a~0.7,f"   #安可
    - "a(0.3),s,0.2,a(1)"   #维里奈
    # - "e,a(0.8),a,a~0.7,f"   # 吟霖

# 云闪之鳞, 辉萤军势, 无常凶鹭, 燎照之骑, 聚械机偶, 哀声鸷, 朔雷之鳞, 鸣钟之龟, 飞廉之猩, 无妄者, 角
TargetBoss: # 目标BOSS 必须保证目标BOSS的位置是有借位信标的，可以少字但是不能有错别字
    # - "鸣钟之龟"
    # - "燎照之骑"
    # - "聚械机偶"
    # - "无妄者"
    - "角"
